/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Your Existing CSS */

/* Grid section */
.row {
    display: flex; /* Add display flex to make children flex items */
}
/* 
.row::after {
    content: "";
    clear: both;
    display: table;
} */

/* [class*='col-'] {
  
}  */

/* Add any other styles as needed for your grid system */
