/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.section-latest-news .row {

}

/* Section Latest news ============================= */
/* Target the row class inside section-latest-news class */
.section-latest-news .row {
    flex-direction: row-reverse; /* Set flex-direction to row-reverse */
}




/*** 4. CARD ***/


